.otherActive~._28r-{pointer-events:auto}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.sp_oURQYtOTD0k_3x{background-image:url(/rsrc.php/v3/y6/r/vlb1-D3VEmF.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_oURQYtOTD0k_3x.sx_7938c6{background-position:0 0}.sp_oURQYtOTD0k_3x.sx_d9c95d{background-position:0 -17px}

#bootloader_kGsKb{height:42px;}.bootloader_kGsKb{display:block!important;}